 @font-face{
   font-family: 'Simpson';
   src: url('../Simpsonfont\ DEMO.otf');
 }
 
 body {
   padding: 0;
   text-align: center;
   background-color:rgb(253, 212, 34);
   font-family: 'Simpson';
}

ul{
   margin-top:75px;
}

ul li {
list-style: none;
padding:50px 35px;
display: flex;
align-items: center;
}

ul b {
font-size:4em;
}


 ul li img {
width: 50px;
margin-right: 50px;
}

#game-intro {
   float: right;
   padding: 20px 20px;
}

#tvscore {
   position: relative;
   /*font-family: Arial;*/
   top: 35px;
 }

 #tv{
   background-repeat: no-repeat;
   background-size: 100%;
   margin-top: 35px;
   z-index: 1;
}

 #score{
    position: absolute;
    background-color: #376faa;
    font-size: 50px;
    color: rgb(253, 212, 34);
    top: 200px;
    left: 70px;
    width: 400px;
    z-index: -1;
 }

.main{
   display:flex;
   justify-content: space-evenly;
   margin-top: 30px;
} 

.duff {
height: 70px;
width: 30px;
}

.beer {
height: 70px;
width: 30px;
}


 #audio{
display: none
} 